.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs.one { 
    background: rgb(34, 194, 34); 
    color: #fff
}

#status-buttons a.active span.round-tabs.two { 
    background: #febe29; 
    color: #fff
}

#status-buttons a.active span.round-tabs.three { 
    background: #3e5e9a; 
    color: #fff
}

#status-buttons a.active span.round-tabs.four { 
    background: #f1685e; 
    color: #fff
}


.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}

.mdl-layout__header {
    background: #0B334D;
    height: 40px !important;
     min-height: 40px !important;
}

.mdl-layout__drawer-button {
    margin: 8px 4px;
    height: 30px !important;
    margin-top: -5px;
    color: white !important;
}

.mdl-layout-title{
    margin-top: -25px;
    font-size: 15px;
    color: #FFFFFF;
}

.mdl-navigation {
    margin-top: -25px !important;
}

.m_full_screen{
    min-height: 100%; 
    margin-left: 30px;
    margin-right: 30px;
    border:1px solid #dddfe0;
}

.card{
    min-height: 100% !important; 
    margin-left: 20px;
    margin-right: 20px;
}

m_header_title{
    margin-left: 40px !important;
    margin-top: 30px;
}

.cont_img img{
    max-width:80px;
    max-height:40px;
    width: auto;
    height: auto;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: 20px;
}

