
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <div class="cont_img"><img src="assets/images/logo_kart.png"/></div>
        <span class="mdl-layout-title">Corrida de Kart</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Kart Racing</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Resultado</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="container-width">
                <div class="views">
                     <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
  </div>