


<form #personalForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <br/>
        <div class="m_header_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</div>
        
        <div class='row'>
            <div class='m_full_screen'>
                <div class="row">
                    <div class="card">

                        <div class="content table-responsive table-full-width">
                    
                          <table class="table table-hover table-striped">
                            <thead>
                              <tr>
                                <th *ngFor="let cell of tableData.headerRow">{{ cell }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let object of listPosition">
                                <td>{{object.position}}</td>
                                <td>{{object.racingDriverCode}} - {{object.racingDriverName}}</td>
                                <td>{{object.quantityTurnCompleted}}</td>
                                <td>{{object.totalTime}}</td>
                    
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
                
                    
                <!-- <div class="form-group text-center">
                    <button class="btn btn-success btn-outline-rounded btn-info" (click)="goToNext(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
                </div> -->
            </div>
        </div>
    </div>
</form>